

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c1d32f;
}

header {
    background-color: #2b6b05;
    color: #014e2e;
    padding: 10px;
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}



.animal-name {
    font-weight: bold;
    font-size: 1.2em;
}

.animal-description {
    color: #666;
}